@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.story--item {
  background-color: #e5e5e5;
  padding: 20px;
  float: left;
  margin-bottom: 15px;
}

.story--item img {
  max-width: 100%;
  height: auto;
}

